.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu li{
    display: inline;
    padding: 20px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menu li a:hover {
    color: grey;
}

.pd-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 300px;
    height: 300px;
}